@page
@model Bookstore.Pages.ShoppingCompletedModel
@{
}

<div class="text-centet">
    <h2>Thanks, your order will make a difference.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>