@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-bookType="" asp-route-pageNum="1" class="btn btn-outline-secondary">Home</a>

    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-bookType="@t" asp-route-pageNum="1"
           class="btn @(ViewBag.Selected == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>
